.alert-success {
  color: black;
  background-color: cadetblue;
}
.table {
  table-layout: fixed;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: none;
  height: 60px;
}
.table > tbody > tr > td:first-child {
  border-left: none;
}
.table > tbody > tr:last-child td {
  border-bottom: none;
}
.table > tbody > tr td {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: middle;
}
.table > tbody > tr td:hover {
  background-color: rgb(68, 64, 64);
  cursor: pointer;
}
.table.disabled > tbody > tr td:hover {
  background-color: rgba(69, 65, 65, 0.435);
  cursor: default;
}
